name: Client Lint

on:
  push:
  pull_request:
    branches:
      - master
    paths:
      - client/**


jobs:
    test:
        runs-on: ubuntu-latest
        container:
            image: node:20
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install node modules
              run: npm ci
              working-directory: client/
            - name: Build client
              run: npm run build
              working-directory: client/